body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

canvas {
    border: 1px solid #fff;
    image-rendering: pixelated; /* Mantiene i pixel nitidi */
}

#colorPalette {
    position: absolute;
    top: 20px;
    left: 20px;
}

#colorPalette button {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

#saveBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; /* Aggiungi un margine inferiore */
}

#undoBtn {
    position: absolute;
    top: 70px; /* Modifica la posizione top per allinearlo correttamente */
    right: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}